<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Have a question? Ask Now">
          <button class="btn btn-primary">Search</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Currency</th>
              <th>Exchange</th>
              <th>MIC Code</th>
              <th>Country</th>
              <th>Type</th>
              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of stock">
              <td>{{ data.symbol }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.currency }}</td>
              <td>{{ data.exchange }}</td>
              <td>{{ data.mic_code }}</td>
              <td>{{ data.country }}</td>
              <td>{{ data.type }}</td>
             
              <td><button class="btn btn-primary" (click)="onButtonClick(data)">Click Me</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
      
    </div>
</div>