<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="home.component.css">
  <title>News Buzz</title>
</head>

<body>



  <!-- Banner for News App -->
  <div class="banner">
    <img src="../assets/stockmarket.jpg" alt="News App Thumbnail" class="thumbnail1">
    <h2>Welcome to Our StockList App!</h2>
    
</div>


  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        
      <div class="container">
          <div class="row">
            <div class="col">
              <img
                src="../assets/stockmarket1.jpg" 
                alt="Image 1" class="thumbnail2">
            </div>
            <div class="col">
              <img
                src="../assets/stockmarket.jpg" class="thumbnail2"
                alt="Image 2">
            </div>
          </div>
        </div>
        <hr>
        <p>A stock exchange is an important factor in the capital market. It is a secure place where trading is done in a systematic way. Here, the securities are bought and sold as per well-structured rules and regulations. 
          Securities mentioned here includes debenture and share issued by a public company that is correctly listed at the stock exchange, debenture and bonds issued by the government bodies, municipal and public bodies..</p>
      </div>
    </div>

    

    <div class="rightcolumn">
      <div class="card1">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px; display: flex; align-items: center; justify-content: center;">
          <img src="assets/author.jpg" style="object-fit: contain; max-height: 100%; max-width: 100%;">
        </div>
        <p style="font-weight: bold; font-family:Georgia, 'Times New Roman', Times, serif">Hello, Sachidanand here.
          Get the latest Stocks & updates by creating an account or login to your account.</p>
      </div>

      <div class="card">
        
            
        
        
          
        
      </div>

      <div class="card">
        <h3>Follow Me</h3>
        <p>Connect with me on social media:</p>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i> facebook</a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i> twitter</a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> instagram</a></li>

        </ul>
      </div>
    </div>
  </div>

</body>

</html>